/* general settings */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#container {
    width: 80%;
    margin: 0 auto;
}

.clearfix {
    background-color: rgb(0, 68, 255);
    padding-bottom: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
/* header {
    /* debug rules */
    /* height: 100px;
    background-color: rgb(228, 97, 233);
} */

#logo {
    border-right: 2px solid rgb(216, 216, 216);
    padding-right: 40px;
}

nav {
    margin: 50px 0;
    
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: rgb(156, 149, 149);
    text-decoration: none;
}


/* jumbotron */
#jumbotron {
    margin: 30px 0;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 500px;
       /* debug rules */
    /* height: 320px; */
    /* background-color: rgb(236, 247, 144); */
}

#jumbotron_text {
    width: 45%;
    padding-left: 40px;
    padding-top: 250px;
    color: white;
}

#jumbotron_text > p {
    font-size: 15px;
}

/* main part */
/* title */
.main_title {
    margin-bottom: 20px;
    /* debug rules */
    /* height: 50px;
    background-color: rgb(0, 174, 255); */
}

.main_title span {
    color:rgb(156, 149, 149);
}

/* content */
/* aside */
.side_content {
    width: 15%;
    float: left;
    /* debug rules */
    /* height: 450px; */
    background-color: rgb(0, 174, 255);
}

.side_text, .section_text {
    font-size: 18px;
}

.text {
    margin-top: 5px;
    /* color:rgb(156, 149, 149) */
}


#section1 {
    width: 68%;
    float: left;
    margin: 0 1%;
    /* debug rules */
    /* height: 450px; */
    background-color: rgb(0, 174, 255);
}

/* footer */
footer {
    margin-top: 5px;
    text-align: center;
    /* debug rules */
    /* height: 50px;
    background-color: blueviolet; */
}
#red_heart {
    color: red;
    font-size: 35px;
}